<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>90Edges Universe</title>
    <link rel="stylesheet" type="text/css" href="http://www.90edges.com/universe/css/style.css"/>
    <div id="fb-root"></div>
<!-- TODO    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1387081634857233";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
-->
</head>

<body>
    <div class="main">
        <header>
            <img src="http://www.90edges.com/universe/img/logo.png" width="416" height="189" alt="90Edges logo" class="left logo"/>
            <div class="right">
                {% if page.preorderbutton == true %}
                <p class="left preorderLink">
                    <a class="greenLink" href="http://www.90edges.com/universe/preorder/">Pre-Order Now</a>
                    &nbsp;&nbsp;
                    <small>or</small>
                </p>
                {% endif %}
                <p class="left">
                    <a href="http://www.90edges.com/universe/download/win.html" class="greenButton">Download Demo</a>
<!--
                    <br/><span class="gray"><small>Download version for <span class="iconsPlatform linux">Apple</span> <a href="__TODO__" id="changeDownloadPlatform">Změnit</a></small></span>
-->
                </p>
	            <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </header>
    </div>
    <nav>
    	<div class="main">
            <ul class="left">
                <li>
                    <a class="on" href="http://www.90edges.com/universe/"><span class="lBorder"><span class="rBorder">The game</span></span></a>
                </li>
                <li>
                    <a href="http://www.90edges.com/universe/media/">Media</a>
                </li>
                <li>
                    <a href="http://www.90edges.com/universe/team/">The team</a>
                </li>
                <li>
                    <a href="http://getsatisfaction.com/90edges/">Support</a>
                </li>
                <li>
                    <a href="http://90euniverse.tumblr.com">Blog</a>
                </li>
            </ul>
            <div class="right">
	            <div class="fb-like left" data-href="http://www.90edges.com/universe/" data-width="200" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                <a href="https://twitter.com/share" class="left twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="clear"></div>
        </div>
    </nav>

    {{ content }}

    <p class="txtCenter gray copyright">
    Copyright &copy; 2013 90Edges. All rights reserved.
    </p>
</body>
</html>
